body{
    background-color: rgb(129, 129, 228);
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(3, 21, 21);
}

button{
    width: 4rem;
    height: 3rem;
    border:color(from color srgb r g b);
    margin: 0.3rem;
    border-radius: 0.5rem;
    background-color: #fef9ff;
    box-shadow: 0 4px #cac5b6;
    text-align: center;
  }

  .igual{
    height: 6.8rem
  }